
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;
  line-height: 1.65em;
  /*background: #B21110;*/
  color: #402159;
  font-weight: 300;
}

#wordbox {
    opacity: 10px;
    margin: 30px auto 0;
    display: block;
    width: 500px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: black;
    transition: 1s linear;
    /*box-shadow: 10px 10px 15px black;*/
    z-index: 1;
}

.title {
  text-align: center;
  margin-top:0px;
  color:black;
}
h1 {
  text-align: center;
  margin-top:75px;
  color: #fff;
 /* text-shadow: 10px 15px 10px black;
  z-index: 4;*/
  font-weight: 500;

}
ol {
	position: absolute;
	color:white;
	top:550px;
	/*left: 250px
	height:200px;
	width:500px;
	background-color: #f44*/
}
.buttons { 
	margin-left: 10px;
	float: left;
  z-index: 1; 
 }

#button {
  background: #262d3a;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin-left: 275px;
    float:left;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    /*box-shadow: 10px 10px 15px black;*/
    z-index: 1;

}
#button2 {
  background: #262d3a;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin-left:50px;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    /*box-shadow: 10px 10px 15px black;*/
    float: left;	



}

.container {
    overflow: hidden;
    background-color: #262d3a;
    font-family: Arial;
    text-align: center;
    box-shadow: 0px 2px 5px black;    

}

.container a {
    position: relative;
    float: left;
    margin-left: 5%;
    font-size: 16px;
    color: white;
    left:22%;
    padding: 1px 10px;
    text-decoration: none;


}
.container a:hover {

color: #339999;

}
.backbone {
  background-color:#4c1616;
  height: 1000px;
  box-shadow: 5px 15px 25px  black;

  
}
.bgt {
  height:475px;
  width:940px;
  background-color:black;
  position: relative;
  opacity: .3;
  z-index: 0;
  margin-top:85px;
}
.logo { 
    height:90px;
    width: 90px;
    box-shadow: none;
    position: absolute;
    margin-top: -30px;
    margin-left:635px;
 }
 .logo2 { 
    height:90px;
    width: 90px;
    box-shadow: none;
    position: absolute;
    margin-top: -30px;
    margin-left:230px;
  }
.top {
  margin-top:30px;
}
#recipelist {
  margin-top: -40px;
  font-size: 17px;
  font-weight: 300;
}
footer { 

    font-size:13px;
    margin-top: 50px;
    text-align: center;

 }
footer a {
  text-decoration:none;
  color:white;
}
.face {
    height: 35px;
    width:35px;
    box-shadow: none;
    margin-top: 35px;
    margin-left: 330px;
  }






